[tool.poetry]
name = "aio-aws"
version = "0.10.0"
description = "aio-aws"
authors = [
    "Darren Weber <dazza-codes@github.com>",
]
license = "Apache-2.0"

readme = "README.md"  # Markdown files are supported
repository = "https://github.com/dazza-codes/aio-aws.git"
homepage = "https://github.com/dazza-codes/aio-aws"

keywords = [
    "Development Status :: 2 - Pre-Alpha",
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Topic :: Utilities",
]

include = ["aio_aws/**/*"]
exclude = ["tests/**/*"]

packages = [
    {include = "aio_aws"}
]


#[tool.poetry.scripts]
#aio-aws-app = "aio_aws.aio_aws_app:app"


[tool.poetry.dependencies]
python = "^3.7"

# Try to update to the latest aiobotocore,
# do not use aiobotocore extras that are tightly pinned to
# only one version of botocore and boto3 (avoid awscli); details in
# https://github.com/aio-libs/aiobotocore/blob/master/setup.py
# 1.3.0 is pinned to 'botocore>=1.20.49,<1.20.50'
aiobotocore = {version = "^1.3.0"}
# Use AWS SDK libs compatible with current AWS lambda python runtime.
# For AWS Lambda, the latest versions are listed at:
# https://docs.aws.amazon.com/lambda/latest/dg/lambda-python.html
boto3 = "~1.17.42"
botocore = "~1.20.42"

requests = "^2.23.0"
typer = "^0.3.2"
tinydb = "^3.15"

#
# Optional packages
#

awscli = {version = "^1.18", optional = true}

aiofiles = {version = "^0.4.0", optional = true}
aioredis = {version = "^1.3", optional = true}
databases = {extras = ["postgresql", "mysql", "sqlite"], version = "*", optional = true}


[tool.poetry.extras]

all = [
    "aiofiles",
    "aioredis",
    "databases",
]

# it's generally advised that awscli is installed separately
# into a system installation rather than a venv installation,
# so it's not included in the `all` extras here
awscli = ["awscli"]


[tool.poetry.dev-dependencies]

moto = {version = "~1.3.16", extras = ["server"]}

# py-dev-deps is used as a common denominator for many
# development dependencies
py-dev-deps = "^0.2"


[build-system]
requires = ["poetry>=1.0"]
build-backend = "poetry.masonry.api"
